{% load check_extras %}

<div id="difftable">
    <table class="table table-bordered table-sm mt-4">
        <thead>
        <th scope="col"></th>
        <th scope="col"></th>
        {% for service in services %}
            <th scope="col">{{ service }}</th>
        {% endfor %}
        </thead>
        <tbody>
        {% for chain in chains %}
            <tr>
                {% get_chain_meta chain_metas chain as chain_meta %}
                {% is_testnet chain_meta chain as is_testnet %}
                {% get_height chain_heights chain as chain_height %}
                <th scope="row">
                    {{ chain_meta.display_name }}
                    {% if is_testnet %}
                        <span class="badge badge-pill badge-secondary">{{ chain|network_name }}</span>
                    {% endif %}
                </th>
                <td>{{ chain_height }}</td>
                {% for service in services %}
                    {% get_result results_by_service_by_chain chain service as result %}
                    {% if result %}
                        <td class="ms-overlay table-{{ result.difference_from_best_status }}"
                            data-toggle="tooltip"
                            data-placement="right"
                            title="{{ result.duration }} ms">
                            {{ result.difference_from_best }}
                        </td>
                    {% else %}
                        <td class="table-light">&nbsp;</td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <p>
        Run ID: {{ check.pk }}<br>Time since last update: <span id="timesince"></span>
    </p>
    <script>
        lastRun = Math.floor({{ check.completed.timestamp }});
        updateTimeSince();
    </script>
</div>
