{% load check_extras %}

<table id="difftable" class="table table-bordered table-sm mt-4">
    <thead>
    <th scope="col"></th>
    <th scope="col"></th>
    {% for service in services %}
        <th scope="col">{{ service }}</th>
    {% endfor %}
    </thead>
    <tbody>
    {% for chain in chains %}
        <tr>
            {% get_height chain_heights chain as chain_height %}
            <th scope="row">{{ chain }}</th>
            <th scope="row">{{ chain_height }}</th>
            {% for service in services %}
                {% get_result results_by_service_by_chain chain service as result %}
                {% if result %}
                    <td class="table-{{ result.difference_from_best_status }}">
                        {{ result.difference_from_best }}
                    </td>
                {% else %}
                    <td class="table-light">&nbsp;</td>
                {% endif %}
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>