{% extends "app/base.html" %}
{% load check_extras %}

{% block javascript %}
    <script>
        // time since last run
        window.lastRun = Math.floor({{ check.completed.timestamp }});

        function updateTimeSince() {
            let nowSec = Math.floor(Date.now() / 1000);
            $("#timesince").text((nowSec - lastRun) + " seconds");
        }

        $(function () {
            // enable tooltips
            $('.ms-overlay').tooltip({container: 'body'});
            
            // reload the table automatically
            setInterval(function () {
                $.ajax({
                    url: '{% url "difftable" %}',
                    success: function (data) {
                        // remove any visible tooltips
                        $('.ms-overlay').tooltip('dispose');
                        // replace table content
                        setTimeout(function () {
                            $('#difftable').html(data);
                            $('.ms-overlay').tooltip({container: 'body'});
                        }, 1);
                    }
                })
            }, 5 * 1000);

            // update time since widget
            updateTimeSince();

            setInterval(updateTimeSince, 1000);
        });
    </script>
{% endblock %}

{% block content %}
    <div class="container mt-4">
        <h3>Block Height Diff</h3>
        <p>Distance from the best imported block height by all tracked services. Updated every 30 seconds.</p>
        {% include "app/difftable.html" %}
    </div>
{% endblock %}